{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "no-unused-vars": "warn", // Valida se a variavel está sendo usada
    "react/react-in-jsx-scope": "off", // Obriga a importar o react em todos os arquivos .jsx
    "react-hooks/rules-of-hooks": "error", // Valida o uso correto dos hooks useState, useEffect e etc
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}